{{ $original := .image }}
{{ $command := .command }}
{{ $tablet_params := .tablet }}
{{ $scratch := newScratch }}
{{ if eq $command "Fit"}}
    {{ $scratch.Set "tablet" ($original.Fit $tablet_params) }}
{{ else if eq $command "Resize"}}
    {{ $scratch.Set "tablet" ($original.Resize $tablet_params) }}
{{ else if eq $command "Fill"}}
    {{ $scratch.Set "tablet" ($original.Fill $tablet_params) }}
{{ else }}
    {{ errorf "Invalid image processing command: Must be one of Fit, Fill or Resize."}}
{{ end }}

{{ $tablet_scaled := $scratch.Get "tablet" }}

<div class="vh-75 bg-white overflow-hidden">
  <a-scene antialias="true" embedded>
    <a-assets>
      <img id="preview" src="{{ $tablet_scaled.RelPermalink }}">
    </a-assets>

    <a-sky color="#ececec"></a-sky>
    <a-plane id="wall" color="#eee" height="2" width="5" position="0 1 -3.55" ></a-plane>
    <a-plane color="#ccc" height="5" width="5" rotation="-90 0 0" position="0 0 -2" ></a-plane>

    <!-- Textured plane parallel to ground. -->
    <a-image id="poster" src="#preview" height="0.95" width="0.78" scale="0.850 1.020 1.150" position="-0.005 1.195 -3.490"></a-image>
    <a-entity id="frame" io3d-furniture="id:bc1e971a-b055-42ab-ab2f-f549a0d84684" position="0 0 -3.5"></a-entity>


    <a-entity io3d-furniture="id:9573e45f-0102-4772-8130-9f0066add103" scale="0.5 0.5 0.5" position="1 0 -3"></a-entity>
        
    <a-entity id="chair" io3d-furniture="id:db0da887-30d5-4ea8-a213-43f73bc22de0" rotation="0 0 0" position="-1.036 0 -3.247"></a-entity>
    <a-entity id="plant" io3d-furniture="id:8b8e6614-ea44-420e-972e-1fb8a2e26297" position="1.329 0 -2.929"></a-entity>
    <a-entity id="table" io3d-furniture="id:53be06a8-2c60-412c-b2ce-ed7fc06645c5" position="0 0 -3"></a-entity>
    <a-entity id="books" io3d-furniture="id:6a60a2b2-d171-428c-ac19-d8a7a8aacda0" position="0 0 -3"></a-entity>
    <a-entity id="rug" io3d-furniture="id:d23062b7-6ec4-45c0-9cee-c96d835b5f54" rotation="0 90 0" position="0.565 0 -2.503"></a-entity>

    <a-entity camera orbit-controls="target:#poster; autoRotate: false; enablePan: false;" position="0 1 -2"></a-entity>
  </a-scene>
</div>
<script>
</script>