{{ $original := .image }}
{{ $command := .command }}
{{ $tablet_params := .tablet }}
{{ $scratch := newScratch }}
{{ if eq $command "Fit"}}
    {{ $scratch.Set "tablet" ($original.Fit $tablet_params) }}
{{ else if eq $command "Resize"}}
    {{ $scratch.Set "tablet" ($original.Resize $tablet_params) }}
{{ else if eq $command "Fill"}}
    {{ $scratch.Set "tablet" ($original.Fill $tablet_params) }}
{{ else }}
    {{ errorf "Invalid image processing command: Must be one of Fit, Fill or Resize."}}
{{ end }}

{{ $tablet_scaled := $scratch.Get "tablet" }}

<div class="vh-75 bg-white overflow-hidden">
  <a-scene antialias="true" shadow="autoUpdate: true; type: pcfsoft;" embedded>
    <a-assets>
      <img id="preview" src="{{ $tablet_scaled.RelPermalink }}">
      <a-asset-item id="pontus_desk" src="/models/pontus_desk/scene.gltf"></a-asset-item>
      <a-asset-item id="chair" src="/models/chat_oak_with_polster_chair/scene.gltf"></a-asset-item>
      <a-asset-item id="light" src="/models/pilsner_ceiling_lamp_gold_-_56018/scene.gltf"></a-asset-item>
      <a-asset-item id="small_table" src="/models/end_table_-_household_props_challenge_-_day_15/scene.gltf"></a-asset-item>

      
    </a-assets>
    <a-sky color="white"></a-sky>
    <a-plane id="wall" color="#eee" height="4" width="5" position="0 2 -3.55" shadow="cast: false; receive: true"></a-plane>
    <a-plane color="#eee" height="5" width="5" rotation="-90 0 0" position="0 0 -2" shadow="cast: false; receive: true"></a-plane>

    <a-entity light="type: ambient; intensity: 0.7;"></a-entity>
    <a-entity light="type: directional; intensity: 0.7; distance: 50; decay: 2; castShadow:true;"
          position="-5 3 1.5"></a-entity>


    <!-- Textured plane parallel to ground. -->
    <a-image id="poster" src="#preview" height="0.95" width="0.78" scale="0.850 1.020 1.150" position="-0.005 1.195 -3.490"></a-image>
    <a-entity id="frame" io3d-furniture="id:bc1e971a-b055-42ab-ab2f-f549a0d84684" position="0 0 -3.5"></a-entity>

    <a-entity gltf-model="#pontus_desk" scale="0.015 0.015 0.015" position="0 0 -3.247" shadow="cast: true; receive: false"></a-entity>
    <a-entity gltf-model="#chair" scale="0.001 0.001 0.001" rotation="0 0 0" position="-1.036 0 -3.247" shadow="cast: true; receive: false"></a-entity>
    <a-entity gltf-model="#small_table" scale="0.1 0.1 0.1" rotation="0 0 0" position="-1.036 0 -1.247" shadow="cast: true; receive: false"></a-entity>

    <a-entity gltf-model="#light" scale="0.01 0.01 0.01" position="1 1 -3" shadow="cast: true; receive: false"></a-entity>

    <a-entity camera position="0.4 0.8 -1.5" 
    orbit-controls="
    autoRotate: false;
    target: #poster;
    enableDamping: true;
    dampingFactor: 0.25;
    rotateSpeed:0.14;
    minDistance:1;
    maxDistance:15;"></a-entity>
  </a-scene>
</div>
<script>
</script>